@import url('https://fonts.googleapis.com/css?family=Laila');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');

* {
  padding: 0;
  margin: 0;
  font-family: 'Laila, Raleway', sans-serif;
}
